.slick-dots {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}
/* .slick-dots li {
    display: block;
    width: 100%;
}
.slick-dots li button {
    background: gray;
    height: unset;
    display: inline;
    width: unset;
}


@media (max-width: 700px) {
    .slick-dots li {
        width: 100%;
        margin: 6px 0;
    }
} */

.slick-dots li button::before {
    border-radius: 2%;
    background-color: gray;
    content: '';
    height: 3px;
    width: 8px;
    transform-origin: right;
    transition: width linear 0.4s;
}
li.slick-active button::before {
    width: 30px;
}
